.holder
{
    width: 100%;
}

.holder :hover
{
    border-style: solid;
    border-color: black;
}

.maincard
{
    margin: 1rem auto;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    text-decoration-line: none;
    color: black;
    background-color: rgb(107, 107, 107);
    border-radius: 1rem;
    width: 90%;
    max-width: 40rem;
}

.maincard :hover
{
    border-style: none;
    border-color: transparent;
}