.header 
{
  width: 100%;
  height: 6rem;
  display: flex;
  align-items: center;
  background-color: #000000;
}

.headercontent
{
  width: 100%;
  text-align: center;
  font-size: 250%;
  font-weight: bold;
  color: white;
  font-family: "Times New Roman", Times, serif;
}

.addnew
{
  width: 100%;
  height: 5rem;
  display: flex;
  align-items: center;
  background-color: white;
}

.addnewcontent
{
  width: 100%;
  text-align: center;
  font-size: 150%;
  font-weight: 50px;
  color: gray;
}