.main
{
  background-color: rgb(214, 214, 214);
  text-align: center;
  padding: 0 0 3%;
}

.header 
{
  width: 100%;
  height: 5rem;
  display: flex;
  align-items: flex-end;
  background-color: #222222;
}

.headercontent
{
  width: 100%;
  text-align: center;
  font-size: 250%;
  font-weight: bold;
  color: rgb(255, 255, 255);
  font-family: "Times New Roman", Times, serif;
}

.subheader
{
  width: 100%;
  height: auto;
  display: flex;
  align-items: center;
  background-color: #222222;
  padding: 1px 0;
}

.subheader :hover
{
  color: white;
}

.subheadercontentright
{
  width: 12%;
  text-align: center;
  text-decoration-line: none;
  font-size: 130%;
  font-family: "Times New Roman", Times, serif;
  color: rgb(207, 207, 207);
  padding: 0 1%;
}

.subheadercontentleft
{
  width: 100%;
  text-align: left;
  text-decoration-line: none;
  font-size: 130%;
  font-family: "Times New Roman", Times, serif;
  color: rgb(207, 207, 207);
  padding: 0 1%;
}

.maintitle
{
  color: black;
  font-size: 250%;
  font-weight: bold;
  font-family: "Times New Roman", Times, serif;
  text-shadow: 1px 2px gray;
  padding: 4% 0 2%;
}

.title
{
  color: black;
  font-size: 175%;
  font-weight: bold;
  font-family: "Times New Roman", Times, serif;
  text-decoration-line: underline;
  text-decoration-color: rgb(236, 236, 236);
  padding: 2% 0 1%;
}

.datablock
{
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: black;
  width: 55%;
  max-width: 40rem;
}

.datablockcontent
{
  width: 100%;
  text-align: left;
  font-size: 110%;
}